<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>HostCloud</title>
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="text-center sidebar-brand-wrapper d-flex align-items-center mb-1" >
        <a style="text-decoration:none;" class="sidebar-brand brand-logo" href="/admin/admin-dashboard.html"><h3>HostCloud</h3></a>
       
      </div>
      <ul class="nav">
        <li class="nav-item nav-profile">
          <a href="#" class="nav-link">
            <div class="nav-profile-image mb-5">
              <img style="width:50px; height:50px;" src="assets/images/faces/face1.jpg" alt="profile" />
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column pr-3">
              <span class="font-weight-medium mb-2">Henry Klein</span>
            
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cloud/cloud-dashboard.html">
           <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/dashboard (1).png">
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cloud/cloud-manage-users.html">
            <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/group.png">
            <span class="menu-title">Manage Users</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cloud/cloud-view-files.html">
            <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/home (1).png">
            <span class="menu-title">View Files</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/cloud/cloud-user-authentications.html">
            <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/booking.png">
            <span class="menu-title">User Authentications</span>
          </a>
        </li>
       

        <!-- <li class="nav-item">
          <a class="nav-link" href="/admin/admin-view-feedback.html">
            <img style="height:15px;width:15px;" class="mr-2" src="/user/icon/feedback (1).png">
            <span class="menu-title">Feedbacks</span>
          </a>
        </li> -->
      </ul>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-default-theme">
          <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
        </div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme">
          <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
        </div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles light"></div>
          <div class="tiles dark"></div>
        </div>
      </div>
      <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
          <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img
              src="assets/images/logo-mini.svg" alt="logo" /></a>
          <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
            <i class="mdi mdi-menu"></i>
          </button>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count count-varient1">7</span>
              </a>
              <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list"
                aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face4.jpg" alt="" class="profile-pic" />
                  </div>
                  <div class="preview-item-content">
                    <p class="mb-0"> Dany Miles <span class="text-small text-muted">commented on your photo</span>
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face3.jpg" alt="" class="profile-pic" />
                  </div>
                  <div class="preview-item-content">
                    <p class="mb-0"> James <span class="text-small text-muted">posted a photo on your wall</span>
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="assets/images/faces/face2.jpg" alt="" class="profile-pic" />
                  </div>
                  <div class="preview-item-content">
                    <p class="mb-0"> Alex <span class="text-small text-muted">just mentioned you in his post</span>
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0">View all activities</p>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-sm-flex">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-email-outline"></i>
                <span class="count count-varient2">5</span>
              </a>
              <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <a class="dropdown-item preview-item">
                  <div class="preview-item-content flex-grow">
                    <span class="badge badge-pill badge-success">Request</span>
                    <p class="text-small text-muted ellipsis mb-0"> Suport needed for user123 </p>
                  </div>
                  <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-item-content flex-grow">
                    <span class="badge badge-pill badge-warning">Invoices</span>
                    <p class="text-small text-muted ellipsis mb-0"> Invoice for order is mailed </p>
                  </div>
                  <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-item-content flex-grow">
                    <span class="badge badge-pill badge-danger">Projects</span>
                    <p class="text-small text-muted ellipsis mb-0"> New project will start tomorrow </p>
                  </div>
                  <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                </a>
                <h6 class="p-3 mb-0">See all activity</h6>
              </div>
            </li>
            <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
              <form class="nav-link form-inline mt-2 mt-md-0">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-magnify"></i>
                    </span>
                  </div>
                </div>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right ml-lg-auto">
            <li class="nav-item dropdown d-none d-xl-flex border-0">
              <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-earth"></i> English </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                <a class="dropdown-item" href="#"> French </a>
                <a class="dropdown-item" href="#"> Spain </a>
                <a class="dropdown-item" href="#"> Latin </a>
                <a class="dropdown-item" href="#"> Japanese </a>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown border-0">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                <img class="nav-profile-img mr-2" alt="" src="assets/images/faces/face1.jpg" />
                <span class="profile-name">Henry Klein</span>
              </a>
              <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
            <h3 class="mb-0 text-info">HostCloud
            </h3>
            <div class="d-flex">
              <button type="button" class="btn btn-sm bg-white btn-icon-text border">
                <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
              <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
                <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
              <button type="button" class="btn btn-sm ml-3 btn-success"> Add User </button>
            </div>
          </div>



          <!-- main -->







          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">

              <div>
                <button type="button" class="btn btn-sm ml-3 btn-success">View Files</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body px-0 overflow-auto">

                    <div class="table-responsive">
                      <table class="table">

                        <tbody>


                          <thead>

                            <th>File Id</th>
                            <th>Owner Id</th>
                            <th>File Size</th>
                            <th>File Type</th>
                            <th>File Extension</th>

                            <th>Status</th>
                            <th>View</th>
                            <th>Actions</th>

                          </thead>





                          <tr>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>

                           


                            <td>
                              <div class="badge badge-inverse-info"> Pending </div>
                            </td>

                            <td>


                              <div class="d-flex align-items-center">
                                <div
                                  style="margin:4px;background-color:rgb(72, 190, 195);width:30px;border-radius:40px;height:30px;display: flex;justify-content: center;align-items: center;">

                                  <i class="mdi mdi-eye" data-toggle="modal" data-target="#doctor_details"
                                    style="color:white;font-size:18px"></i>
                                </div>

                                <div class="modal fade" id="doctor_details" tabindex="-1" role="dialog"
                                  aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div style="background-color:white;padding:8px;border-radius:12px;">
                                      <h1
                                        style="text-align:center;font-family:sans-serif;margin:8px;color:rgb(17, 8, 68);padding:0px;">
                                        File Details</h1>
                                      <div class="col-12" style="padding:0px">
                                        <hr>
                                      </div>
                                      <div class="row"
                                        style="display:flex;flex-direction:column;justify-content:space-around;">

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">File</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">ffffffff</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

<!-- 
                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Property Location</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">Hyderabad</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Year Built</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">2020</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">BedRooms</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Bathrooms</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Hime Area</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div> -->

                                        <!-- image -->
                                        <!-- <div class="col-12" style="display:flex;justify-content:space-around;padding:8px">
                  <h4 style="font-family:italic;color:rgb(89, 88, 92)"></h4>
                  <a href="media/{{p.doctor_licence}}"> </a>
                  
              </div>
              <div class="col-12">
              <hr style="height:1px;margin:0px;">
          </div>
         -->
                                        <!-- /image -->

<!-- 

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Parking Lots</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">02</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>




                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Lot Area</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">02</h4>
                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>
                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Gara Size</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">5555</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reference</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">2022</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div> -->

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reg Date</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">20/04/2022</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                          data-dismiss="modal">Close</button>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>
                              <a href="#" class="badge badge-inverse-success"> Accept </a>
                              <a href="#" class="badge badge-inverse-danger"> Reject </a>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              <div class="badge badge-inverse-info"> Pending </div>
                            </td>


                            <!-- land start -->
                            <td>
                              <div class="d-flex align-items-center">
                                <div
                                  style="margin:4px;background-color:rgb(72, 190, 190);width:30px;border-radius:40px;height:30px;display: flex;justify-content: center;align-items: center;">

                                  <i class="mdi mdi-eye" data-toggle="modal" data-target="#doctor_details1"
                                    style="color:white;font-size:18px"></i>
                                </div>

                                <div class="modal fade" id="doctor_details1" tabindex="-1" role="dialog"
                                  aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div style="background-color:white;padding:8px;border-radius:12px;">
                                      <h1
                                        style="text-align:center;font-family:sans-serif;margin:8px;color:rgb(17, 8, 68);padding:0px;">
                                        Property Details</h1>
                                      <div class="col-12" style="padding:0px">
                                        <hr>
                                      </div>
                                      <div class="row"
                                        style="display:flex;flex-direction:column;justify-content:space-around;">

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Plot Area</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">Hyderabad</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Price</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">$50,000,00</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Length</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">22222</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Breadth</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">564564</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Facing</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">iuhgi</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reference</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">kjsdfshg</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <!-- <div class="col-12" style="display:flex;justify-content:space-around;padding:8px">
                 <h4 style="font-family:italic;color:rgb(89, 88, 92)">License</h4>
                 <a href="media/{{p.doctor_licence}}"> Download</a>
                 
             </div> -->
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>



                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reg Date</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">4563733</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>
                              <a href="#" class="badge badge-inverse-success"> Accept </a>
                              <a href="#" class="badge badge-inverse-danger"> Reject </a>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              jklgdkloloj
                            </td>

                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              jklgdkloloj
                            </td>
                            <td>
                              <div class="badge badge-inverse-info"> Pending </div>
                            </td>

                            <td>


                              <div class="d-flex align-items-center">
                                <div
                                  style="margin:4px;background-color:rgb(72, 190, 195);width:30px;border-radius:40px;height:30px;display: flex;justify-content: center;align-items: center;">

                                  <i class="mdi mdi-eye" data-toggle="modal" data-target="#doctor_details"
                                    style="color:white;font-size:18px"></i>
                                </div>

                                <div class="modal fade" id="doctor_details" tabindex="-1" role="dialog"
                                  aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div style="background-color:white;padding:8px;border-radius:12px;">
                                      <h1
                                        style="text-align:center;font-family:sans-serif;margin:8px;color:rgb(17, 8, 68);padding:0px;">
                                        Property Details</h1>
                                      <div class="col-12" style="padding:0px">
                                        <hr>
                                      </div>
                                      <div class="row"
                                        style="display:flex;flex-direction:column;justify-content:space-around;">

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Property Price</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">$30,000,00</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Property Location</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">Hyderabad</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Year Built</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">2020</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">BedRooms</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Bathrooms</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Hime Area</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">05</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <!-- image -->
                                        <!-- <div class="col-12" style="display:flex;justify-content:space-around;padding:8px">
              <h4 style="font-family:italic;color:rgb(89, 88, 92)"></h4>
              <a href="media/{{p.doctor_licence}}"> </a>
              
          </div>
          <div class="col-12">
          <hr style="height:1px;margin:0px;">
      </div>
     -->
                                        <!-- /image -->



                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Parking Lots</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">02</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>




                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Lot Area</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">02</h4>
                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>
                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Gara Size</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">5555</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reference</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">2022</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>

                                        <div class="col-12"
                                          style="display:flex;justify-content:space-around;padding:8px">
                                          <h4 style="font-family:italic;color:rgb(89, 88, 92)">Reg Date</h4>
                                          <h4 style="font-family:italic;color:rgb(10, 46, 87)">20/04/2022</h4>

                                        </div>
                                        <div class="col-12">
                                          <hr style="height:1px;margin:0px;">
                                        </div>


                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                          data-dismiss="modal">Close</button>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </td>
                            <td>
                              <a href="#" class="badge badge-inverse-success"> Accept </a>
                              <a href="#" class="badge badge-inverse-danger"> Reject </a>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>


              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="row">
                      <div class="col-6">
                        <h1>Heading</h1>
                      </div>
                      <div class="col-6">
                        <h1>Heading</h1>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">

          </footer>
        </div>



        <!-- main -->



        <!-- footer -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022, All rights
              reserved | </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a
                href="https://www.bootstrapdash.com/" target="_blank"></a>Designed & Developed by FZ INFOTECH</span>
          </div>
        </footer>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'cloud/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'cloud/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'cloud/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'cloud/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'cloud/flot/jquery.flot.pie.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'cloud/js/off-canvas.js' %}"></script>
    <script src="{% static 'cloud/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'cloud/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'cloud/js/dashboard.js' %}"></script>
  <!-- End custom js for this page -->
</body>

</html>